* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Elementi comuni*/
body{
    font-family: Arial, sans-serif;
}
header{
    background-color: rgb(255, 111, 0);
}
main{
    border-top: 1px inset rgba(1, 1, 1, 0.308);;
}
/* Classi di layout */
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
/* colonne  */
.col-20{
    width: 20%;
}
.col-33{
    width: calc(100% / 3);
}
.col-60{
    width: 60%;
}
/* Classi di stile  */
.icons{
    color: white;
    font-size: 12px;
    margin-top: 7px;
}
.labels{
    display: flex;
    position: absolute;
    left: 0;
    bottom: 100px;
}
.label{
    padding: 5px;
    color: white;
    font-size: 15px;
    text-align: center;
}
.heart{
    text-align: center;
    position: absolute;
    right: 0px;
    top: 60px;
    padding: 3px 10px 3px 10px;
    font-size: 25px;
    background-color: white;
    cursor: pointer;
}
.heart:hover{
    color: red;
}
/* Content  */
.content{
    text-align: center;
    margin-top: 5px;
    padding: 10px;
}
.content-main{
    margin: 10px;
    position: relative;
}
/* background e colori  */
.bg-green{
    background-color: green;
}
.bg-red{
    background-color: red;
    margin-right: 5px;
}
/* Selettori composti  */
.content a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}
.content img{
    width: 100px;
}
.content-main img{
    width: 100%;
    margin: 50px 0px;
}
/* Margin  */
.mx-5{
    margin: 0px 5px;
}
.mx-2{
    margin: 0px 2px;
}
